<!-- views/food/new.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a Food</title>
  </head>
  <body>
    <h1>Create a New Food!</h1>
    <form action="/food" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />
    
        <label for="isReadyToEat">Ready to Eat?</label>
        <input type="checkbox" name="isReadyToEat" id="isReadyToEat" />
    
        <button type="submit">Add Food</button>
      </form>
  </body>
</html>